p{
    font-size: larger;
    color: blue;
    font-style: italic;
    margin-left: 10px;
    margin-right: 30px;
}
#list{
    display: flex;
    flex-direction: row;
}

#males{
    margin-left: 70px;
}
#females{
    margin-left:200px;
}
li{
    font-size: 18px;
}
#form{
    font-size: 15px;
}
h1{
    font-size: 25px;
    background-color: cornflowerblue;
}
p #result{
    font-size: 50px;
}